<%- include header%>
    <form method="post">
        <div>Title:
            <input type="text" name="title" />
        </div>
        <div>Article:
            <textarea name="post" rows="30" cols="50"></textarea>
        </div>
        <input type="submit" value="post" />
    </form>
    <%- include footer%>
