<%- include header%>
    <form method="post">
        <div>Title:</div>
        <br/>
        <input type="text" name="title" />
        <br/>
        <div>Article:</div>
        <br/>
        <textarea name="post" rows="30" cols="50"></textarea>
        <br/>
        <input type="submit" value="post" />
    </form>
    <%- include footer%>
