<%- include header%>
    <form method="post">
        <div>User name:
            <input type="text" name="name" />
        </div>
        <div>Enter password:
            <input type="password" name="password" />
        </div>
        <div>Enter password again:
            <input type="password" name="passwordRepeat" />
        </div>
        <div>E-mail:
            <input type="text" name="email" />
        </div>
        <input type="submit" value="post" />
    </form>
    <%- include footer%>
