<!--
主頁： 未登入前
還缺少css美化功能
sublime text: 修改html prettify setting, 加入ejs套件
-->
<!DOCTYPE html>
<html>

<head>
    <metadata charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<body>
    <header>
        <nav>
            <span><a title="Main page" href="/blog_main">Main page</a></span>
            <span><a title="Log in" href="/blog_login">Log in</a></span>
            <span><a title="Register" href="/blog_reg">Register</a></span>
        </nav>
    </header>
    <article>
