<!DOCTYPE html>
<html>

<head>
    <metadata charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<body>
    <header>
        <nav>
            <span><a title="Main page" href="/">Main page</a></span>
            <span><a title="Main page" href="/">Main page</a></span>
            <span><a title="Main page" href="/">Main page</a></span>
        </nav>
    </header>
    <article>
